<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <meta charset="utf-8">
        <title>Decentralized Traffic Detection Web Interface</title>
    </head>
    <body>
        <h2>Decentralized Traffic Detection Web Interface</h2>
		<form action="display" method="get">
			Simulation name: <input type="text" name="simulationName"> <br><br>
			Simulation index: <input type="text" name="simulationIndex"> <br><br>
			<!-- Number of frames: <input type="text" name="numberOfFrames"> <br><br> -->
			<input type="submit">
		</form>

    </body>
</html>
